{% extends 'base.html' %}

{% block title %}Week 1 Matchups{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <table class="table" id="blueSideTeam">
                <thead>
                    <tr>
                        <th scope="col">NarglesRawr</th>
                        <th scope="col">Thots, Show Mercy</th>
                        <th scope="col">700.0</th>
                    </tr>
                </thead>
                <tr>
                    <th scope="row">Top</th>
                    <td>NRG Impact</td>
                    <td>100.0</td>
                </tr>
                <tr>
                    <th scope="row">Jungle</th>
                    <td>C9 Rush</td>
                    <td>100.0</td>
                </tr>
                <tr>
                    <th scope="row">Mid</th>
                    <td>IMT Pobelter</td>
                    <td>100.0</td>
                </tr>
                <tr>
                    <th scope="row">ADC</th>
                    <td>TL Piglet</td>
                    <td>100.0</td>
                </tr>
                <tr>
                    <th scope="row">Support</th>
                    <td>CLG Aphromoo</td>
                    <td>100.0</td>
                </tr>
                <tr>
                    <th scope="row">Flex</th>
                    <td>DIG Apollo</td>
                    <td>100.0</td>
                </tr>
                <tr>
                    <th scope="row">Team</th>
                    <td>NRG Esports</td>
                    <td>100.0</td>
                </tr>
            </table>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <table class="table" id="redSideTeam">
                <thead>
                    <tr>
                        <th scope="col">700.0</th>
                        <th scope="col">and the alia Onions</th>
                        <th scope="col">Vid</th>
                    </tr>
                </thead>
                <tr>
                    <td>100.0</td>
                    <td>IMT Huni</td>
                    <th scope="row">Top</th>
                </tr>
                <tr>
                    <td>100.0</td>
                    <td>IMT Reignover</td>
                    <th scope="row">Jungle</th>
                </tr>
                <tr>
                    <td>100.0</td>
                    <td>NRG GBM</td>
                    <th scope="row">Mid</th>
                </tr>
                <tr>
                    <td>100.0</td>
                    <td>IMT WildTurtle</td>
                    <th scope="row">ADC</th>
                </tr>
                <tr>
                    <td>100.0</td>
                    <td>IMT Adrian</td>
                    <th scope="row">Support</th>
                </tr>
                <tr>
                    <td>100.0</td>
                    <td>NRG Altec</td>
                    <th scope="row">Flex</th>
                </tr>
                <tr>
                    <td>100.0</td>
                    <td>Team SoloMid</td>
                    <th scope="row">Team</th>
                </tr>
            </table>
        </div>
    </div>

{% endblock %}