{% extends 'base.html' %}

{% block title %}My Roster{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <h2>Week 1 Starters</h2>
            <table class="table" id="mainRoster">
                <thead>
                    <tr>
                        <th scope="col">Position</th>
                        <th scope="col">Player</th>
                        <th scope="col">Team</th>
                        <th scope="col">Average Points Per Game</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Top</th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                            <tr>
                        <th scope="row">Jungle</th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                            <tr>
                        <th scope="row">Mid</th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                            <tr>
                        <th scope="row">ADC</th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                            <tr>
                        <th scope="row">Support</th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                            <tr>
                        <th scope="row">Flex</th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                            <tr>
                        <th scope="row">Team</th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 align-self-center">
            <div class="d-flex justify-content-center btn-group-vertical">
               <button class="btn btn-secondary" id="benchBtn"><i class="fa fa-angle-double-left"></i> Play</button>
                <button class="btn btn-secondary" id="putInBtn">Bench <i class="fa fa-angle-double-right"></i></button>
            </div>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
            <h2>Alternates</h2>
            <table class="table" id="benchRoster">
                <thead>
                    <tr>
                        <th scope="col">Position</th>
                        <th scope="col">Player</th>
                        <th scope="col">Team</th>
                        <th scope="col">Average Points Per Game</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
{% endblock %}